.body2 {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #62c1d5;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
}

.header {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
}

.logo img {
  width: 200px;
  height: auto;
  margin-top: 0px;
}

.navbar {
  background: linear-gradient(120deg, 
  #ffe57a 0%, 
  #c4e3e1 20%, 
  #ffe57a 40%,
  #c4e3e1 60%,
  #ffe57a 80%, 
  #c4e3e1 100%);
  padding: 4px 0;
  position: fixed;
  width: 100%;
  top: 200px; 
  z-index: 5;
  margin-top: -60px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.nav-list li {
  position: relative;
  margin: 0 20px;
}

.nav-list a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-size: 16px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.nav-list a {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.3s ease;  
}

.nav-list a:hover {
  background-color: #d4f0f0;
  color: #000000;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffe57a;
  min-width: 180px;
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #d4f0f0;
}

.contact-layout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 40px;
  gap: 60px;
  width: 100%;
  max-width: 1200px;
  padding-top: 30px;
  margin-top: 170px;
}


.contact-image img {
  width: 600px;
  height: auto;
  margin-top: 15px;
  margin-left: -20px;
}

.contact-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: -30px;
}

h2 {
  color: #000000;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

label {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 16px;
}

.submit-btn {
  width: auto;
  padding: 15px 35px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  background: linear-gradient(135deg, #0dafd0, #ffc008);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.submit-btn:hover {
  background: #0dafd0;
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.submit-btn:active {
  transform: scale(1);
  background: #ffc008;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.required {
  color: red;
}

.success-container {
  display: none; 
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6); 
  border-radius: 10px;
  width: 300px;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  color: #28a745;
  font-family: 'Poppins', sans-serif;
}

.success-icon {
  width: 120px; 
  height: 120px; 
  margin: 0 auto 15px;
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.checkmark-svg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.checkmark-svg circle {
  fill: white;
  stroke:  #28a745; 
  stroke-width: 0.5px
}

.checkmark-svg path {
  stroke: #28a745; 
  stroke-width: 1.0px; 
  fill: none; 
}

.success-text h3 {
  font-size: 22px; 
  color: #ffffff;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase; 
  letter-spacing: 2px; 
  font-weight: 600; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
  word-wrap: break-word; 
}

.success-text p {
  font-size: 20px;
  color: #fff;
  margin-top: 5px;
  font-family: 'Times New Roman', Times, serif;
}

.footer {
  background-color: #62c1d5;
  color: #f3f3f3;
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 30px;
}

.footer p {
  margin: 5px 0;
}

.footer a {
  color: black;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-logo img {
  max-width: 250px;
  height: auto;
  margin: 10px 0;
}
